
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="#">
            Unfound
          </a>
        </li>
        <li>
          <a href="#">
            About Us
          </a>
        </li>
        <li>
          <a href="#">
            Blog
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright">
      &copy;
      {{test | date: 'yyyy'}}, Designed and Coded by 
      <a href="https://www.linkedin.com/in/deepak-mahana-364882122/" target="_blank">Deepak Mahana</a>.
    </div>
  </div>
</footer>
