.nav-item a {
  font-weight: bold;
  color: black !important;
  font-size: 12px;
}

.icon-property, .btn-rotate i, .btn-magnify i, .btn-move-left i, .btn-move-right i {
  -webkit-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 300ms cubic-bezier(0.34, 1.61, 0.7, 1);
  position: relative;
  display: inline-block;
}

.btn-magnify:hover i, .btn-magnify:focus i {
  -webkit-transform: scale(1.22);
  -moz-transform: scale(1.22);
  -o-transform: scale(1.22);
  -ms-transform: scale(1.22);
  transform: scale(1.22);
}

.navbar-toggle {
  display: none;
}

h3 {
  color: black;
}