
<nav class="navbar navbar-expand-lg navbar-absolute bg-white fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-toggle">
                
            </div>
            <img src="./assets/img/unfound.jpg" style="max-height: 50px;"/><h3 style="margin: 0 auto 0 5px;">UnFound</h3>
            
        </div>
        <button class="navbar-toggler" type="button" (click)="collapse()"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav">
            <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['/login']" class="nav-link btn-magnify"><i class="now-ui-icons users_single-02"></i> Login</a>
            </li>
            <li class="nav-item" *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <a [routerLink]="['/register']" class="nav-link btn-magnify"><i class="now-ui-icons education_agenda-bookmark"></i> Register</a>
            </li>
            <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <a href="#" [routerLink]="['/home']" class="nav-link btn-magnify"><i class="now-ui-icons business_bank"></i>Home</a>
            </li>
            <li class="nav-item" *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
              <a href="#" [routerLink]="['/user-profile']" class="nav-link btn-magnify"><i class="now-ui-icons users_single-02"></i>User Profile</a>
            </li>
            <li class="nav-item" *ngIf="authService.loggedIn()">
              <a (click)="onLogoutClick()" href="#"  class="nav-link btn-magnify"><i class="now-ui-icons media-1_button-power"></i>Logout</a>
            </li>
          </ul>
        </div>
    </div>
</nav>
