<div class="page-header clear-filter" filter-color="black">
  <app-navbar></app-navbar>
  <div class="page-header-image" style="background-image: url('../../assets/img/header1.jpg');"></div>
  <div class="container text-center">
    <div class="col-md-8 ml-auto mr-auto">

    <div class="card" style="width: 20rem; color: black;">
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
          <h4 class="card-title" style="color: #f96332; margin-top: 10px !important;">Login</h4>
          <hr />
          <div class="form-group" style="text-align: left !important;">
            <input type="text" [(ngModel)]="Username" class="form-control" placeholder="Username" required name="username" id="username" #username="ngModel" ngModel>
          </div>


          <div class="form-group" style="text-align: left !important;">
            <input type="password" [(ngModel)]="Password" class="form-control" placeholder="Password" required name="password" id="password" #password="ngModel" ngModel>
          </div>


          <input class="btn btn-primary" type="submit" value="Let's Go !" [disabled]="!loginForm.valid">
          <br />
          <a href="javascript:void(0)" class="card-link" (click)="open(forgotPassModal)">Forgot your password?</a>
          <br />
          <br />

        </form>
      </div>
    </div>
    </div>
  </div>
</div>


<!-- Forgot Password Modal -->
<ng-template #forgotPassModal let-c="close" let-d="dismiss">

  <form #changeForm="ngForm" (ngSubmit)="onChangeSubmit(changeForm)">
    <div class="modal-header container text-center">
      <h4 class="card-title">Forgot your Password?</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <div class="container text-center">
          <h5>Please enter you Email-ID:</h5>
        </div>
        <div class="form-group" style="text-align: left !important;">
          <input type="email" class="form-control" placeholder="Email" required name="email" id="email" #email="ngModel" ngModel>
        </div>
    </div>
    <div class="modal-footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-default" (click)="c('Close click')">Cancel</button>
          </div>
          <div class="col-md-6">
            <button class="btn btn-primary">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template>
