<!-- LOADER START -->
<div class="binder" [ngStyle]="{'display': showLoader? 'block' : 'none'}">
  <div class="overlay"></div>
  <div class="ml-auto mr-auto">
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <img src="assets/img/unfound.jpg" alt="">
  </div>
</div>
<!-- LOADER END -->

<div class="wrapper">
  <div class="main-panel">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
  </div>
</div>

