<div class="page-header clear-filter" filter-color="black">
  <app-navbar></app-navbar>
  <div class="page-header-image" style="background-image: url('../../assets/img/header1.jpg');"></div>
  <div class="container text-center">
    <div class="col-md-8 ml-auto mr-auto">

    <div class="card" style="width: 20rem; color: black;">
      <div class="card-body">
        <form #submitForm="ngForm" (ngSubmit)="onSubmit(submitForm)">
          <h4 class="card-title" style="color: #f96332; margin-top: 10px !important;">Change Password</h4>
          <hr />
          <div class="form-group" style="text-align: left !important;">
            <input type="password" class="form-control" placeholder="Enter New Password" required name="pass1" id="pass1" #pass1="ngModel" ngModel>
          </div>


          <div class="form-group" style="text-align: left !important;">
            <input type="password" class="form-control" placeholder="Retype Password" required name="pass2" id="pass2" #pass2="ngModel" ngModel>
          </div>


          <input class="btn btn-primary" type="submit" value="Confirm" [disabled]="!submitForm.valid">
          <br />
          <br />

        </form>
      </div>
    </div>
    </div>
  </div>
</div>
