<div class="main-content" style="margin-top: 70px;">
  <div class="row">

   <div class="col-md-12" style="margin: 40px auto;">
      <div class="card">
        <div class="card-body">
         
          <ngb-tabset>

            <ngb-tab title="Upload XML">
              <ng-template ngbTabContent>
                  <div class="col-md-6" style="margin: 10px auto;">
                    <div class="card">
                      <div class="card-body" style="background-color:rgb(255, 250, 250)">
                        
                        <input name="xml_file" style="display: none" type="file" (change)="onFileChanged($event)" accept="text/xml" #fileInput>
                       
                        <ngb-progressbar style="width: 80%;" showValue="true" [type]="progressType" [value]="uploadProgress" [striped]="true" [animated]="true"></ngb-progressbar>
                        
                        <div class="container text-center" style="margin-top: 10px;" *ngIf="this.file">Selected File : {{this.file.name}}</div>

                        <div class="row text-center" style="margin-top: 20px;">
                          <div class="col-sm-4">
                            <button type="button" class="btn btn-info" (click)="fileInput.click()">Select File</button>
                          </div>
                          <div class="col-sm-4">
                            <button type="button" class="btn btn-success" [disabled]="!this.file" (click)="onUpload()">Upload!</button>
                          </div>
                          <div class="col-sm-4">
                            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
              </ng-template>
            </ngb-tab>

            <ngb-tab title="List Of Vehicle">
              <ng-template ngbTabContent>
                  <div class="col-md-12" style="margin: 10px auto;">
                      <div class="card">
                        <div class="card-body" style="background-color:rgb(255, 250, 250)">

                              <div class="col-md-6" style="margin: 10px auto;" *ngIf="tableData.length == 0">
                                <div class="container text-center" style="margin-top: 10px;">No Files Uploaded Yet.</div>
                              </div>

                        
                              <div class="table-responsive" *ngIf="tableData.length != 0">
                                <div class="container">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th class="text-center col-md-1" style="width: 0%;">Sr. No.</th>
                                        <th class="text-center col-md-1" style="width: 0%;">ID</th>
                                        <th class="text-center col-md-2" style="width: 0%;">Frame</th>
                                        <th class="text-center col-md-1" style="width: 0%;">Powertrain</th>
                                        <th class="text-center col-md-2" style="width: 0%;">Wheels</th>
                                        <th class="text-center col-md-1" style="width: 0%;">Type</th>
                                        <th class="text-center col-md-2" style="width: 0%;">Created At</th>
                                        <th class="text-center col-md-2" style="width: 0%;">File</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let t of tableData?.reverse(); let i = index">
                                        <td class="text-center">{{ i+1 }}</td>
                                        <td class="text-center" style="text-transform: capitalize;">{{ t.data.id }}</td>
                                        <td class="text-center">
                                            <div *ngFor="let frame of t.data.frame;">
                                              Material : {{ frame.material }}
                                            </div>
                                        </td>
                                        <td class="text-center">{{ t.data.powertrain }}</td>
                                        
                                       
                                          <td class="text-center">
                                            <div *ngIf="t.data.wheels != undefined; else NoWheel">
                                            <table style="width: 100%;"> 
                                              <thead>
                                                <th style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;">Position</th>
                                                <th style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;">Material</th>
                                              </thead>
                                              <tbody>
                                                  <tr *ngFor="let wheel of t.data.wheels[0].wheel;">
                                                    <td style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;">{{ wheel.position }}</td>
                                                    <td style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;">{{ wheel.material }}</td>
                                                  </tr>
                                              </tbody>
                                            </table>
                                            </div>
                                          </td>
                                        
                                        
                        
                                        <td class="text-center">{{ t.vehicleType }}</td>
                        
                                        <td class="text-center">{{ t.updatedAt }}</td>
                        
                                        <td class="text-center"><a href="javascript:void(0)" (click)="fileOpen(t.fileLink)"> Open Original File </a></td>
                                       
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                        </div>  
                      </div>
                    </div>
              </ng-template>
            </ngb-tab>


          </ngb-tabset>
         
        </div>
      </div>
    </div>
   
  </div>
</div>


<!-- JSON Data Table -->
<ng-template #vehicleDataTable let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h5 class="modal-title text-center"><b>Uploaded XML Data</b></h5>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body text-center">
    <div class="row">
      
      <div class="table-responsive">
        <div class="container">
          <table class="table">
            <thead>
              <tr>
                <th class="text-center col-sm-1" style="width: 0%;">Sr. No.</th>
                <th class="text-center col-sm-1" style="width: 0%;">ID</th>
                <th class="text-center col-sm-2" style="width: 0%;">Frame</th>
                <th class="text-center col-sm-1" style="width: 0%;">Powertrain</th>
                <th class="text-center col-sm-2" style="width: 0%;">Wheels</th>
                <th class="text-center col-sm-1" style="width: 0%;">Type</th>
                <th class="text-center col-sm-2" style="width: 0%;">Created At</th>
                <th class="text-center col-sm-2" style="width: 0%;">File</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of xmlData?.reverse(); let i = index">
                <td class="text-center">{{ i+1 }}</td>
                <td class="text-center" style="text-transform: capitalize;">{{ t.data.id }}</td>
                <td class="text-center">
                    <div *ngFor="let frame of t.data.frame;">
                      Material : {{ frame.material }}
                    </div>
                </td>
                <td class="text-center">{{ t.data.powertrain }}</td>

                <td class="text-center">
                  <div *ngIf="t.data.wheels != undefined; else NoWheel">
                  <table style="width: 100%;"> 
                    <thead>
                      <th style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;">Position</th>
                      <th style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;">Material</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let wheel of t.data.wheels[0].wheel;">
                          <td style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;">{{ wheel.position }}</td>
                          <td style="border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;">{{ wheel.material }}</td>
                        </tr>
                    </tbody>
                  </table>
                  </div>
                </td>

                <td class="text-center">{{ t.vehicleType }}</td>

                <td class="text-center">{{ t.updatedAt }}</td>

                <td class="text-center"><a href="javascript:void(0)" (click)="fileOpen(t.fileLink)"> Open Original File </a></td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="c('Close click')">Done</button>
  </div>
</ng-template>

<!-- No Wheel Template -->
<ng-template #NoWheel>No Wheels Data</ng-template>

