<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body">
          <form (submit)="onEditSubmit()">

            <div class="form-group" style="text-align: left;">
              <label for="name">Name<sup style="color: red;">*</sup></label>
              <input type="text" [(ngModel)]="user.name" name="name" class="form-control" placeholder="Name..."  required >
            </div>

            <div class="form-group" style="text-align: left !important;">
              <label for="username">Username <sup style="color: red;">*</sup></label>
              <input type="text" [(ngModel)]="user.username" name="username" (change)="checkUsername(user.username)" class="form-control" placeholder="Username..." required>
            </div>

            <div class="form-group" style="text-align: left;">
              <label for="email">Email <sup style="color: red;">*</sup></label>
              <input type="text" [(ngModel)]="user.email" name="email" (change)="checkEmail(user.email)" class="form-control" placeholder="abc@xyz.com..." required>
            </div>

            <div class="form-group" style="text-align: left !important;">
              <label for="password">Password <sup style="color: red;">*</sup></label>
              <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password..." required >
            </div>

           
            <div class="container text-center">
              <div class="row">
                <div class="col-md-6">
                  <button type="button" class="btn btn-info" (click)="loadUser()">Reset Fields</button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-primary">Save Profile</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <a href="#">
              <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
              <h5 class="title">{{ user.name }}</h5>
            </a>
            <p class="description">
              {{ user.email }}
            </p>
          </div>
          <p class="description text-center" style="color: black;">
            Username: {{ user.username }}
          </p>
        </div>
        <hr>
        <div class="button-container">
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
