<div class="page-header clear-filter" filter-color="red">
  <app-navbar></app-navbar>
  <div class="page-header-image" style="background-image: url('../../assets/img/header.jpg');"></div>
  <div class="container text-center">
    <div class="col-md-8 ml-auto mr-auto">

    <div class="card" style="width: 20rem; color: black; margin-top: 85px;">
      <div class="card-body">

        <form #regForm="ngForm" (ngSubmit)="onRegisterSubmit(regForm)">

          <h4 class="card-title" style="color: #f96332;">Register</h4>


          <div class="form-group" style="text-align: left;">
            <label for="name">Name<sup style="color: red;">*</sup></label>
            <input required name="name" id="name" #name="ngModel" ngModel type="text" class="form-control"  placeholder="Name..." >
          </div>

          <div class="form-group" style="text-align: left !important;">
            <label for="username">Username <sup style="color: red;">*</sup></label>
            <input required name="username" id="username" #username="ngModel" ngModel type="text" class="form-control" placeholder="Username..." >
          </div>

          <div class="form-group" style="text-align: left;">
            <label for="email">Email <sup style="color: red;">*</sup></label>
            <input required name="email" id="email" #email="ngModel" ngModel type="email" class="form-control" placeholder="abc@xyz.com...">
          </div>

          <div class="form-group" style="text-align: left !important;">
            <label for="password">Password <sup style="color: red;">*</sup></label>
            <input required name="password" id="password" #password="ngModel" ngModel type="password" class="form-control" placeholder="Password...">
          </div>


          <input type="submit" href="#" class="btn btn-primary" value="Submit" [disabled]="!regForm.valid">
          <br />
          <a href="#" class="card-link">Already have an account? Login here..</a>
          <br />
          <br />

        </form>

      </div>
    </div>
    </div>
  </div>
</div>
